:root{
    --size: 90dvh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(#2d2d2d, #5a5a5a);
    height: 100dvh;
    width: 100%;
    display: grid;
    place-content: center;

}
.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: var(--size);
    width: calc(var(--size) * 0.8) ;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.511);
    place-content: center;
    font-size: calc(var(--size) /15);
    border-radius: 20px;
    text-align: center;
}
h1{
    text-decoration: underline 3px solid #646464;
}
button{
    height: calc(var(--size) *0.055);
    width: calc(var(--size) *0.2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(var(--size) /25);
    background: transparent;
    color: white;
    &:hover{
        box-shadow: white 0px 0px 3px;
    }
}
input{
    height: calc(var(--size) * 0.04);
    width: calc(var(--size) *0.2)
}
